os:       linux
dist:     focal
language: go
go:
  - 1.13.x
env:
  - LIBVIRT_DEFAULT_URI='qemu+unix:///session' TF_LIBVIRT_DISABLE_PRIVILEGED_TESTS=1 TF_LIBVIRT_RNG_DEV='/dev/random'
git:
  depth: 1
install: true
before_script:
  - curl -sLo /tmp/terraform.zip https://releases.hashicorp.com/terraform/0.14.8/terraform_0.14.8_linux_amd64.zip
  - sudo unzip /tmp/terraform.zip -d /usr/local/bin
  - curl -o /tmp/cinc-auditor.deb http://downloads.cinc.sh/files/stable/cinc-auditor/4.37.0/ubuntu/20.04/cinc-auditor_4.37.0-1_amd64.deb
  - sudo dpkg -i /tmp/cinc-auditor.deb
  - mkdir -p ~/.local/share/terraform/plugins/registry.terraform.io/dmacvicar/libvirt/0.6.3/linux_amd64/
  - curl -sLo /tmp/terraform-provider-libvirt.tar.gz https://github.com/dmacvicar/terraform-provider-libvirt/releases/download/v0.6.3/terraform-provider-libvirt-0.6.3+git.1604843676.67f4f2aa.Ubuntu_20.04.amd64.tar.gz
  - tar xzf /tmp/terraform-provider-libvirt.tar.gz -C ~/.local/share/terraform/plugins/registry.terraform.io/dmacvicar/libvirt/0.6.3/linux_amd64/
  - sudo apt-get -qq update
  - sudo apt-get install -y qemu libvirt-daemon ovmf genisoimage libvirt-dev qemu-kvm libvirt-daemon-system libvirt-clients bridge-utils
  - sudo systemctl enable --now libvirtd
  - echo -e "<pool type='dir'>\n<name>default</name>\n<target>\n<path>/pool-default</path>\n</target>\n</pool>" > pool.xml
  - sudo mkdir /pool-default
  - sudo chmod a+rwx /pool-default
  - sudo virsh pool-define pool.xml
  - sudo virsh pool-start default
  - echo -e 'user = "root"\ngroup = "root"' | sudo tee -a /etc/libvirt/qemu.conf
  - sudo systemctl restart libvirtd
  - sudo adduser $USER libvirt
  - sudo adduser $USER kvm
addons:
  apt:
    packages:
    - libvirt-dev
    - libvirt-daemon
    - qemu-system-x86
    - qemu-utils
    - genisoimage
    - xsltproc
script:
  - id
  - groups
  - sudo -E su $USER -c 'id'
  - sudo -E su $USER -c 'groups'
  - sudo -E su $USER -c 'make build'
  - sudo -E su $USER -c 'make test'
  - sudo -E su $USER -c 'make clean'
